
<div>
  <form (submit)="sendMessage()">
    <input class="search-bottom" placeholder="Message" [(ngModel)]="inputMessage" name="inputMessage" type="text" required autocomplete="false">
    <input type="file" id="profileImg" (change)="onFileChange($event)" #fileInput>
    <button type="submit" style="display:none">hidden submit</button>
  </form>

  <ul>
    <li class="list" *ngFor="let message of Messages">
      <img class="chatImg" src="data:image/jpg;base64,{{message._from[0]._profileImage}}"/>
      <ng-container *ngIf="message._imgContent">
        <img [src]="'data:image/jpg;base64,'+message._imgContent"/>
      </ng-container>
      {{message._from[0]._username}} - {{message._content}}
    </li>
  </ul>

</div>
