
    .search-bottom{
      position: absolute;
      display: block;
      margin: auto;
      right:2%;
      left: 2%;
      bottom: 3%;
      height: 5%;
      width: 75%;
      font-weight: 100;
      padding-left: 28px;
      font-family:"lato";
      font-size: 12px;
      opacity: 0.6;
      color: black;
      border:2px solid #919193;
      border-radius:6px;
    }

    search-bottom:focus {
        border:2px solid black;
        border-radius:6px;
    }
    .inside{
      position:absolute;
      right: 0px;
      top: 4px;
      border:none;
      height:20px;
      width:20px;
      border-radius:100%;
      outline:none;
      text-align:center;
      font-weight:bold;
      padding:2px;
    }

    .chatImg{
      width:35px;
      height:35px;
      border-radius:50%;
    }

    .list{
      list-style-type: none !important;
    }
